# This is the flume config file
# Ionita Costel-Cosmin, March 2018

# Channel definition
agent.channels = channel
agent.channels.channel.type = memory
agent.channels.channel.capacity = 100

# Source definition, maxBlobLength is 100 MB
agent.sources = watchDirSource
agent.sources.watchDirSource.type = spooldir
agent.sources.watchDirSource.channels = channel
agent.sources.watchDirSource.deserializer = org.apache.flume.sink.solr.morphline.BlobDeserializer$Builder
agent.sources.watchDirSource.deserializer.maxBlobLength = 100000000
agent.sources.watchDirSource.spoolDir = /home/ec2-user/workDir/launchDirectory/

# Sink definition
agent.sinks = hdfs_sink
agent.sinks.hdfs_sink.type = hdfs
agent.sinks.hdfs_sink.channel = channel
agent.sinks.hdfs_sink.hdfs.path = hdfs://va6-ioni-ksmaster-1:8020/home/flumeData/
agent.sinks.hdfs_sink.hdfs.writeFormat = Text
agent.sinks.hdfs_sink.hdfs.rollSize = 0
agent.sinks.hdfs_sink.hdfs.fileType = DataStream
agent.sinks.hdfs_sink.hdfs.rollInterval = 5
agent.sinks.hdfs_sink.hdfs.rollCount = 1
agent.sinks.hdfs_sink.serializer.appendNewline = false
